const ICONSET_NAME = "PLACEHOLDER_ICONSET_NAME"
const ICONS = {
PLACEHOLDER_ICON_LIST
}

async function getIcon(name) {
	return {
		path: ICONS[name] || ICONS.default,
		viewBox: "PLACEHOLDER_VIEW_BOX"
	};
}

window.customIconsets = window.customIconsets || {};
window.customIconsets[ICONSET_NAME] = getIcon;